/* GLOBAL VARS */
:root {
  /*
  C = Primary Color
  TC = text color
  */
  --C1: #000000;
  --C2: #111111;
  --C3: #222222;
  --C4: #333333;
  --C5: #444444;
  --C6: #555555;
  --C7: #666666;
  --C8: #777777;
  --TC1: #dedede;
  --TC2: #ffffff;

  --DocScale: 0.9
}



/* NAVIGATION BAR 1060px and bigger*/
@media only screen and (min-width: 1060px) {
  .NavBar{
    background: var(--C3);
    border-bottom: solid;
    border-color: var(--TC2);
    width: 100%;

    display: flex;
    align-items: flex-start;

    background-image: linear-gradient(var(--C2), var(--C4));
  }
  .NavBar > *{
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }


  .MyName{
    text-align: center;
    font-family: Georgia;
    font-size: 42pt;
    color: var(--TC2);
  }


  .NavGroup{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: center;
  }
  .NavGroup > *{
    margin: 0px 10px 10px 10px;
    padding: 5px;

    background: var(--C6);
    text-decoration: none;
    color: var(--TC2);
    font-size: 20pt;

    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-style: dotted;
    border-top-style: hidden;
    border-color: var(--TC1);
  }


  #NavGroupLEFT{
    justify-content: flex-start;
  }
  #NavGroupLEFT > *{
    margin-left: 0px;
  }


  #NavGroupRIGHT{
    justify-content: flex-end;
  }
  #NavGroupRIGHT > *{
    margin-right: 0px;
  }
}



/* CONTENT */
.ContentBody{

  display: flex;
  justify-content: space-between;
  align-items: stretch;

  min-height: 100vh;
  height: 100%;
}
.ContentBody > *{

}

.Content{
  text-align: center;
  font-family: verdana;
  color: var(--TC2);

  border-left-style: solid;
  border-right-style: solid;
  border-color: var(--TC1);
  width: 65%;
}

.Content > * {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 12pt;
}

.Content h1{
  font-size: 18pt;
}
.Content h2{
  font-size: 13pt;
}

.Content a {
  text-decoration: none;
  font-style: italic;
  color: #0ff;
}

.ContentBorder{
  width: 17.5%;
}
#ContentBorderLEFT{
  background-image: linear-gradient(to right,var(--C2), var(--C4));
}
#ContentBorderRIGHT{
  background-image: linear-gradient(to left,var(--C2), var(--C4));
}

.GoogleDoc{
  border-style: dashed;
  margin-top: -50px;
  width: 650px;
  height: 1100px;


  zoom: var(--DocScale);
  -moz-transform: scale(var(--DocScale));

  -o-transform: scale(var(--DocScale));

  -webkit-transform: scale(var(--DocScale));

}


.Content .ULDiv{
  text-align: center;
}

.Content ul{
  display: inline-block;
  text-align: left;
}



/* Footer */
footer{
  z-index: 1000;
  /*
  position: fixed;
  bottom: 0px;
  left: 0px;
  */
  width: 100%;

  color: var(--TC2);
  text-align: center;
  /*margin-top: -30px;*/
  font-family: Georgia;

  background-image: linear-gradient(var(--C4), var(--C2));
  border-top-style: solid;
  border-color: var(--TC2);
}

.FooterSpacing{
  font-size: 5pt;
}

footer a{
  text-decoration: none;
  font-style: italic;
  color: #0ff;
  font-family: verdana;

  margin: 3px;
  margin-bottom: 5px;
  padding-left:8px;
  padding-right: 8px;
  border-style: dotted;
  border-radius: 30px;
  border-color: var(--TC1);
}



/* OTHER */
body{
  margin: 0;
  background-image: linear-gradient(var(--C5), var(--C6));
  background-image: linear-gradient(crimson, orange);
  background-image: linear-gradient(var(--C5), var(--C6));
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: verdana;
}

.Wrapper{
  size: 100% 100%;
}
html{
  height:100%;
}

.ArtPic{
  width: 80%;
  height:auto;
}
.ArtPicTall{
  height: 40vw;
  width: auto;
}
.Headshot {
	width: 40%;
}
.YTVid{
  border-style: dotted;
  width: 560px;
  height: 315px;


  zoom: var(--DocScale);
  -moz-transform: scale(var(--DocScale));

  -o-transform: scale(var(--DocScale));

  -webkit-transform: scale(var(--DocScale));
}
